/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.form-container div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-plugin-title {
  text-align: center;
  width: 100%;
}

.sm-table {
  border-collapse: collapse;
  text-align: center;
  table-layout: inherit;
}

.sm-table th {
  background-color: #222222;
  color: white;
}

.sm-table th,
.sm-table td {
  padding: 8px;
  font-size: 18px;
}

.sm-table tr {
  border-bottom: 1px solid #222;
}
